//-----------IMPORTS Materialize Components
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$background-color:#dae3e7;
$highlight: #00c5ff;
$dark: #22292e;
$light: #EDEFF5;
$white:#ffffff;
$white-light:  #dae3e7;
$white-darken:rgba(255, 255, 255, 0.6);
$border:#E9E9E9;
$white:#fff;
$lightblue:#31b0d5;
$darkblue:#324981;
$blue-gray: #34495e;
$blue-gray-darken: #2c3e50;
$blue: #3498db;
$blue-darken: #2980b9;
$green: #1abc9c;
$green-darken: #16a085;
body {
  background-color: $background-color;
}




//-----------IMPORTS
@import "materialize";