
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Tekwin</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="<%= pages_about_path %>"><i class="mdi-action-view-list"></i></a></li>
      <li><a href="<%= pages_about_path %>"><i class="mdi-action-perm-identity"></i></a></li>
      <li><a href="<%= pages_contact_path %>"><i class="mdi-maps-place"></i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="<%= pages_about_path %>"><i class="mdi-action-view-list"></i></a></li>
      <li><a href="<%= pages_about_path %>"><i class="mdi-action-perm-identity"></i></a></li>
      <li><a href="<%= pages_contact_path %>"><i class="mdi-maps-place"></i></a></li>
    </ul>
  </div>
</nav>
