<!DOCTYPE html>
<html>
<head>
  <title>Tekwin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header'%>
    <div class="row">
        <div class="col m10 offset-m1">
            <%= yield %>
        </div>
    </div>
</body>
<script>
  $('.button-collapse').sideNav();
</script>
</html>
